<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/style.css">
		<title></title>
	</head>
		<body>
			<header>
				<h1>mitchbook</h1>
			</header>
				
				<div class="column_1">
					
				</div>

				<div class="yield">
					<%= yield %>
				</div>

				<nav>
					<ul>
						<li>
							<a href="/contacts">View all contacts</a>
						</li>
						<li>
							<a href="/contacts/new">Create new contact</a>
						</li>
					</ul>
				</nav>

			<footer><img src="/fb_footer.png" alt=""></footer>
		</body>
</html>